<a href="https://colab.research.google.com/github/kalpana-premkumar/A-B-Testing/blob/main/Montana_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Info :
•	Additional Info:
•	No of visits:10819
•	Find(35%):3786
•	Request(6%) 649
•	Interact(2%)218

## •** Qno:1	Would you include all suggested variants in the experiment (Connect, Learn, Help, Services)? **

Because all the three responses mentioned Help and Services in the second position. Also mentioned connect and Interact are too vague and doesn’t gives any real meaning. And even Learn was their last preference. Came to a conclusion
Help, Services are the most preferred category for Experimenting.
If we have enough time, can work on four categories too..

# **Qno:2	What is the “business value” that performing this experiment would add within the broader strategy of the University?**

•	Business value (here)- Increased no of visitors, increased amount of Time spent, Increased usage of learning materials like articles, magazines (Tech, Economy,…), Increased no of events like workshops, seminars, Increased no of research and publications by students.
Then we can use Average amount of hours spent as a metric , Avg. no of Events, Average No of books or articles referred , published

## **Qno:3 •	Which main metric would you choose to measure the success of a variant and perform the experiment on?**

•	Click-through rate:
![image.png]()

### **Qno:4 •	Which additional metrics would you choose to track?**

Time_spent=amount of time spent in landing page per click

Lower Bounce Rate: If your website visitors leave (or "bounce") quickly after visiting your website, testing different blog post introductions, fonts, or featured images can reduce this bounce rate and retain more visitors

## **Qno:5 •	How would you define the null and the alternative hypotheses?**

•	Null Hypothesis:
There is no significant difference between the old Webpage (with interact) and new Webpage (with Help or Services).

Alternate Hypothesis:
There is significant difference between the old Webpage (with interact) and new Webpage (with Help or Services).

## **Qno:6 •	What threshold for statistical significance would you set?**
The statistical significance level here is 0.1 (90%) or 0.05(95%)
Significance
“Statistical significance helps quantify whether a result is likely due to chance or to some factor of interest”.
It basically ensures whether the results of your test are trustworthy or not.
Ton(researcher) recommends starting with at least a 90% significance level, so you lessen the chances of declaring a winner, when in reality, your changes had no effects on the results.
Power
“Statistical power is the likelihood that an experiment will detect an effect when there is an effect there to be detected”.
Power depends on:
•	Sample size
•	Effect size
•	Significance level
When you start, try to test on pages with a high power (at least 80%!). Otherwise, you will not detect effects when there is an effect to be detected. In short, you will be missing out on significant outcomes on your optimization effort. Ultimately, it is less money for your company

## **Qno:7 •	What is the minimum detectable effect (the smallest improvement you would care about) that you expect to detect?**

Increase in number of clicks or CTR

## **Qno:8 •	Do you think this experiment would require a software engineering team to develop a custom platform, or could it be developed with external tools such as Google Optimize?**

Instead of hiring software engineering to develop a custom platform,.
Can use free testing tools like Google Optimize, Optimizely,omniconvert.

Best A/B Testing Tools
•	HubSpot's A/B Testing Kit.
•	Google Optimize.
•	Freshmarketer.
•	VWO.
•	Optimizely.
•	Omniconvert.
•	Crazy Egg.
•	AB Tasty.
•	Piwik
•	Adobe Analytics
•	Kissmetrics,
•	Mixpanel,
•	Parse.ly,
•	CrazyEgg
•	Unbounce

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Snapshot informat e.google.com/file/d/147pq6MjfmbWP2s56HyMAGRwFlHgvRruX/view"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
interact= pd.read_csv(path, sep =",")

url="https://drive.google.com/file/d/1xH-oZXzjGP33he0-sf8PPsoy5hyeXiwf/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
connect= pd.read_csv(path, sep =",")

url="https://drive.google.com/file/d/1QZxhxiia90_Lp6dSO38VEI-SdIyDrDjs/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
learn= pd.read_csv(path, sep =",")

url="https://drive.google.com/file/d/1d2Hoa61WKuOnfJRy4r0i5kMqhiqna5H7/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
help= pd.read_csv(path, sep =",")

url="https://drive.google.com/file/d/1T-lp5NgukvsPXpTmo_rm9YtLTAzU8VTc/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
services= pd.read_csv(path, sep =",")

#filepath_1 =r"C:\Users\kalpa\OneDrive\Desktop\bootcamp\Montana\Element list Homepage Version 1 - Interact, 5-29-2013.csv"
#filepath_2 = r"C:\Users\kalpa\OneDrive\Desktop\bootcamp\Montana\Element list Homepage Version 2 - Connect, 5-29-2013.csv"
#filepath_3 = r"C:\Users\kalpa\OneDrive\Desktop\bootcamp\Montana\Element list Homepage Version 3 - Learn, 5-29-2013.csv"
#filepath_4 = r"C:\Users\kalpa\OneDrive\Desktop\bootcamp\Montana\Element list Homepage Version 4 - Help, 5-29-2013.csv"
#filepath_5 = r"C:\Users\kalpa\OneDrive\Desktop\bootcamp\Montana\Element list Homepage Version 5 - Services, 5-29-2013.csv"

#version1
#version2= pd.read_csv(filepath_2, sep =",")
#version3 = pd.read_csv(filepath_3, sep =",")
#version4 = pd.read_csv(filepath_4, sep =",")
#version5 = pd.read_csv(filepath_5, sep =",")

### **Version 1**

In [ ]:
#clicks_interact=interact.loc[interact.Name=="INTERACT","No.clicks "]
#interact.info()
interact.rename(columns={ "Tag name" :"Tag_name","No. clicks":"clicks"},inplace=True)

In [ ]:
# Getting the no of clicks for Interact
clicks_interact_ver1=interact.loc[interact.Name=="INTERACT","clicks"].sum()
clicks_interact_ver1
#interact.info()

42

In [ ]:
# Getting the no of clicks for Find
clicks_find_ver1=interact.loc[interact.Name=="FIND","clicks"].sum()
clicks_find_ver1
#interact.info()

842

In [ ]:
interact

,Element ID,Tag_name,Name,clicks,Visible?,Snapshot information
0,128,area,Montana State University - Home,1291,False,Homepage Version 1 - Interact • http://www...
1,69,a,FIND,842,True,created 5-29-2013 • 20 days 4 hours 21 min...
2,61,input,s.q,508,True,NaN
3,67,a,lib.montana.edu/find/,166,True,NaN
4,78,a,REQUEST,151,True,NaN
...,...,...,...,...,...,...
64,133,img,intext-a.akamaihd.net/items/it/img/assets/g9v.jpg,1,False,NaN
65,134,div,index.php,1,False,NaN
66,135,div,montana.summon.serialssolutions.com/advanced/,1,False,NaN
67,136,div,montana.edu,1,False,NaN
68,138,div,montana.summon.serialssolutions.com/advanced/,1,False,NaN

In [ ]:
clicks_request_ver1=interact.loc[interact.Name=="REQUEST","clicks"].sum()
clicks_request_ver1

151

In [ ]:
#calcuting the no of clicks for Interact
#Total_clicks_ver1=interact.clicks.sum()
noclicks_interact_ver1= 10283- clicks_interact_ver1
noclicks_requset_ver1=10283- clicks_request_ver1
noclicks_find_ver1=10283- clicks_find_ver1
clicks_interact_ver1,noclicks_interact_ver1,noclicks_requset_ver1,noclicks_find_ver1

(42, 10241, 10132, 9441)

In [ ]:
# calculating click through rate version 2
ctr_ver1=clicks_interact_ver1/10283 # total visits from .csv
per_interact_click=ctr_ver1*100
ctr_ver1,per_interact_click

(0.0040844111640571815, 0.4084411164057182)

In [ ]:
#calculating Homepage-return rate for the category pages version 1 Metric 3
Homepage_return_rate_ver1=2030/ 3714 # values from heatmap pdf
Homepage_return_rate_ver1

0.5465805061927841

In [ ]:
# 30% of version1 clicks
exp_clicks_ver1=round(0.3*10823,0)
exp_clicks_ver1

3247.0

**Version 2**

In [ ]:
connect.iloc[:,-1]

0     Homepage Version 2 - Connect   •   http://www....
1     created 5-29-2013   •   20 days 7 hours 34 min...
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
34                                                  NaN
35                                                  NaN
36                                                  NaN
37                                                  NaN
38                                                  NaN
39                                                  NaN
40                                                  NaN
41                                                  NaN
42                                                  NaN
43                                                  NaN
44                                                  NaN
45                                                  NaN
46                                                  NaN
47                                                  NaN
48                                                  NaN
49                                                  NaN
50                                                  NaN
51                                                  NaN
52                                                  NaN
53                                                  NaN
54                                                  NaN
55                                                  NaN
56                                                  NaN
57                                                  NaN
Name: Snapshot information, dtype: object

In [ ]:
#Renaming the columns
connect.rename(columns={ "Tag name" :"Tag_name","No. clicks":"clicks"},inplace=True)

In [ ]:
#Calculating no of clicks for connect
clicks_connect_ver2=connect.loc[connect.Name=="CONNECT","clicks"].sum()
clicks_connect_ver2

53

In [ ]:
#Calculating no of clicks for FIND
clicks_find_ver2=connect.loc[connect.Name=="FIND","clicks"].sum()
clicks_find_ver2

502

In [ ]:
#Calculating no of clicks for REQUEST
clicks_request_ver2=connect.loc[connect.Name=="REQUEST","clicks"].sum()
clicks_request_ver2

57

In [ ]:
#calcuting the no of clicks for Interact
#Total_clicks_ver2=connect.clicks.sum()
noclicks_connect_ver2= 2742 - clicks_connect_ver2
noclicks_requset_ver2=2742- clicks_request_ver2
noclicks_find_ver2=2742- clicks_find_ver2
noclicks_connect_ver2,noclicks_requset_ver2,noclicks_find_ver2

(2689, 2685, 2240)

In [ ]:
# calculating click through rate version 2
ctr_ver2=clicks_connect_ver2/2742 # total visits from .csv
per_connect_click=ctr_ver2*100
ctr_ver2,per_connect_click

(0.019328956965718454, 1.9328956965718453)

In [ ]:
#calculating Homepage-return rate for the category pages version 2 Metric 3
Homepage_return_rate_ver2=1234/ 1587
Homepage_return_rate_ver2

0.7775677378701953

In [ ]:
# 30% of version1 clicks
exp_clicks_ver2=round(0.3*2742,0)
exp_clicks_ver2

823.0

### **Version 3**

In [ ]:
learn

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,587,True,Homepage Version 3 - Learn • http://www.li...
1,61,input,s.q,325,True,created 5-29-2013 • 20 days 12 hours 21 mi...
2,67,a,lib.montana.edu/find/,142,True,NaN
3,128,area,Montana State University - Home,83,False,NaN
4,98,a,Hours,76,True,NaN
...,...,...,...,...,...,...
57,135,center,More Hours,1,False,NaN
58,136,div,montana.edu,1,False,NaN
59,139,center,"June 17, 2013",1,False,NaN
60,140,strong,"June 17, 2013",1,False,NaN
61,141,div,montana.summon.serialssolutions.com/advanced/,1,False,NaN

In [ ]:
#Renaming the columns
learn.rename(columns={ "Tag name" :"Tag_name","No. clicks":"clicks"},inplace=True)

In [ ]:
#Calculating no of clicks for learn
clicks_learn_ver3=learn.loc[learn.Name=="LEARN","clicks"].sum()
clicks_learn_ver3

21

In [ ]:
#Calculating no of clicks for Find
clicks_find_ver3=learn.loc[learn.Name=="FIND","clicks"].sum()
clicks_find_ver3

587

In [ ]:
#Calculating no of clicks for request
clicks_request_ver3=learn.loc[learn.Name=="REQUEST","clicks"].sum()
clicks_request_ver3

63

In [ ]:
#calcuting the no of clicks for Interact
#Total_clicks_ver3=learn.clicks.sum()
noclicks_learn_ver3= 2747 - clicks_learn_ver3
noclicks_requset_ver3=2747- clicks_request_ver3
noclicks_find_ver3=2747- clicks_find_ver3
noclicks_learn_ver3,noclicks_requset_ver3,noclicks_find_ver3

(2726, 2684, 2160)

In [ ]:
# calculating click through rate version 3 Metric 1
ctr_ver3=clicks_learn_ver3/ 2747# total visits from .csv
per_learn_click=ctr_ver3*100
ctr_ver3,per_learn_click

(0.007644703312704768, 0.7644703312704768)

In [ ]:
#calculating Homepage-return rate for the category pages version 3 Metric 3
Homepage_return_rate_ver3=1263 / 1652
Homepage_return_rate_ver3

0.7645278450363197

In [ ]:
# 30% of version1 clicks
exp_clicks_ver3=round(0.3*2747,0)
exp_clicks_ver3

824.0

### **Version 4**

In [ ]:
help

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,74,a,FIND,631,True,Homepage Version 4 - Help • http://www.lib...
1,66,input,s.q,364,True,created 5-29-2013 • 20 days 4 hours 59 min...
2,72,a,lib.montana.edu/find/,139,True,NaN
3,133,area,Montana State University - Home,122,False,NaN
4,83,a,REQUEST,72,True,NaN
5,103,a,Hours,68,True,NaN
6,67,button,Search,59,True,NaN
7,92,a,HELP,38,True,NaN
8,101,a,News,26,True,NaN
9,127,a,Contact Us,17,True,NaN
10,81,a,lib.montana.edu/request/,15,True,NaN
11,35,a,slideshow-right,14,True,NaN
12,69,a,Advanced Search,14,True,NaN
13,6,a,Ask A Librarian,10,True,NaN
14,55,span,nav-item-dot,10,True,NaN
15,105,a,Twitter,9,True,NaN
16,134,a,slideshow-left,8,False,NaN
17,135,a,Tip of the Week: Submit a Request for the Libr...,8,False,NaN
18,90,a,lib.montana.edu/interact/,7,True,NaN
19,68,div,Advanced Search,6,True,NaN
20,112,a,6/17 Library Workshop: EndNote Web Basics,6,True,NaN
21,124,a,About MSU Library,6,True,NaN
22,65,form,Search,5,True,NaN
23,15,div,"Explore the world, explore the past Science & ...",4,True,NaN
24,45,a,nav-item,4,True,NaN
25,59,div,Search Advanced Search FIND Find research mate...,4,True,NaN
26,78,p,"Find research materials, including articles, b...",4,True,NaN
27,8,div,logo-ikd,3,True,NaN
28,11,div,.,3,True,NaN
29,41,a,nav-item,3,True,NaN
30,132,a,Site Index & Site Search,3,True,NaN
31,1,div,Ask A Librarian,2,True,NaN
32,5,div,Ask A Librarian,2,True,NaN
33,20,div,Montana State University Historical Photographs,2,True,NaN
34,23,div,Indian Peoples of the Northern Great Plains,2,True,NaN
35,49,a,nav-item,2,True,NaN
36,53,a,nav-item,2,True,NaN
37,61,div,logo,2,True,NaN
38,110,a,6/17 Library Workshop: Zotero Basics,2,True,NaN
39,118,a,Twitter,2,True,NaN
40,2,div,Ask A Librarian,1,True,NaN
41,3,img,Montana State University in Bozeman,1,True,NaN
42,17,p,Science & Natural History Filmmaking Archive,1,True,NaN
43,26,p,Meet with a librarian for help with your resea...,1,True,NaN
44,51,span,nav-item-dot,1,True,NaN
45,63,img,label for catsearch,1,True,NaN
46,84,div,triangle-l,1,True,NaN
47,87,p,"Request resources and services, including grou...",1,True,NaN
48,106,ul,News 6/17 Library Workshop: Zotero Basics 6/17...,1,True,NaN
49,107,li,News,1,True,NaN
50,116,a,New Database: Access World News,1,True,NaN
51,120,a,YouTube,1,True,NaN
52,121,div,© MSU About MSU Library Accessibility Contact ...,1,True,NaN
53,128,a,Privacy Policy,1,True,NaN
54,130,a,Mobile Site,1,True,NaN
55,136,div,montana.summon.serialssolutions.com/advanced/,1,False,NaN
56,137,img,s3.amazonaws.com/z90/d7563d332436cc96671be5ed9...,1,False,NaN

In [ ]:
#Renaming the columns
help.rename(columns={ "Tag name" :"Tag_name","No. clicks":"clicks"},inplace=True)

In [ ]:
#Calculating no of clicks for help
clicks_help_ver4=help.loc[help.Name=="HELP","clicks"].sum()
clicks_help_ver4

38

In [ ]:
#Calculating no of clicks for find
clicks_find_ver4=help.loc[help.Name=="FIND","clicks"].sum()
clicks_find_ver4

631

In [ ]:
#Calculating no of clicks for request
clicks_request_ver4=help.loc[help.Name=="REQUEST","clicks"].sum()
clicks_request_ver4

72

In [ ]:
#calcuting the no of clicks for Interact
#Total_clicks_ver4=help.clicks.sum()
noclicks_help_ver4= 3180 - clicks_help_ver4
noclicks_requset_ver4=3180- clicks_request_ver4
noclicks_find_ver4=3180- clicks_find_ver4
noclicks_help_ver4,noclicks_requset_ver4,noclicks_find_ver4

(3142, 3108, 2549)

In [ ]:
# calculating click through rate version 4
ctr_ver4=clicks_help_ver4/ 3180 # total visits from .csv
per_help_click=ctr_ver4*100
ctr_ver4,per_help_click

(0.011949685534591196, 1.1949685534591197)

In [ ]:
#calculating Homepage-return rate for the category pages version 4 Metric 3
Homepage_return_rate_ver4=1350/ 1717
Homepage_return_rate_ver4

0.786255096097845

In [ ]:
# 30% of version1 clicks
exp_clicks_ver4=round(0.3*3180,0)
exp_clicks_ver4

954.0

### **Version 5**

In [ ]:
services

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,397,True,Homepage Version 5 - Services • http://www...
1,61,input,s.q,323,True,created 5-29-2013 • 20 days 4 hours 59 min...
2,67,a,lib.montana.edu/find/,106,True,NaN
3,62,button,Search,85,True,NaN
4,98,a,Hours,81,True,NaN
5,78,a,REQUEST,57,True,NaN
6,129,area,Montana State University - Home,49,False,NaN
7,87,a,SERVICES,45,True,NaN
8,96,a,News,24,True,NaN
9,76,a,lib.montana.edu/request/,22,True,NaN
10,64,a,Advanced Search,19,True,NaN
11,85,a,lib.montana.edu/interact/,18,True,NaN
12,30,a,slideshow-right,14,True,NaN
13,119,a,About MSU Library,9,True,NaN
14,50,span,nav-item-dot,8,True,NaN
15,115,a,YouTube,7,True,NaN
16,6,a,Ask A Librarian,6,True,NaN
17,122,a,Contact Us,6,True,NaN
18,40,a,nav-item,5,True,NaN
19,48,a,nav-item,5,True,NaN
20,107,a,6/17 Library Workshop: EndNote Web Basics,5,True,NaN
21,44,a,nav-item,4,True,NaN
22,59,div,Search,4,True,NaN
23,46,span,nav-item-dot,3,True,NaN
24,58,img,label for catsearch,3,True,NaN
25,60,form,Search,3,True,NaN
26,63,div,Advanced Search,3,True,NaN
27,128,div,"Explore the world, explore the pastScience & N...",3,False,NaN
28,3,img,Montana State University in Bozeman,2,True,NaN
29,8,div,logo-ikd,2,True,NaN
30,15,p,Montana State University Historical Photographs,2,True,NaN
31,29,a,slideshow-left,2,True,NaN
32,38,span,nav-item-dot,2,True,NaN
33,73,p,"Find research materials, including articles, b...",2,True,NaN
34,105,a,6/17 Library Workshop: Zotero Basics,2,True,NaN
35,114,a,Facebook,2,True,NaN
36,125,a,Mobile Site,2,True,NaN
37,14,div,Montana State University Historical Photographs,1,True,NaN
38,18,p,Indian Peoples of the Northern Great Plains,1,True,NaN
39,19,div,Meet with a librarian for help with your resea...,1,True,NaN
40,25,a,Schedule a meeting,1,True,NaN
41,36,a,nav-item,1,True,NaN
42,42,span,nav-item-dot,1,True,NaN
43,55,div,Search Advanced Search,1,True,NaN
44,91,p,Learn about the library and meet with us for r...,1,True,NaN
45,100,a,Twitter,1,True,NaN
46,101,ul,News 6/17 Library Workshop: Zotero Basics 6/17...,1,True,NaN
47,113,a,Twitter,1,True,NaN
48,116,div,© MSU About MSU Library Accessibility Contact ...,1,True,NaN
49,130,div,lib.montana.edu/interact/,1,False,NaN
50,131,center,lib.montana.edu/hours/,1,False,NaN
51,132,font,지저귀다,1,False,NaN
52,133,a,6/18 Excel 2010: Formulas and Functions [webinar],1,False,NaN

In [ ]:
#Renaming the columns
services.rename(columns={ "Tag name" :"Tag_name","No. clicks":"clicks"},inplace=True)

In [ ]:
#Calculating no of clicks for find
clicks_find_ver5=services.loc[services.Name=="FIND","clicks"].sum()
clicks_find_ver5

397

In [ ]:
#Calculating no of clicks for request
clicks_request_ver5=services.loc[services.Name=="REQUEST","clicks"].sum()
clicks_request_ver5

57

In [ ]:
#Calculating no of clicks for services
clicks_services_ver5=services.loc[services.Name=="SERVICES","clicks"].sum()
clicks_services_ver5

45

In [ ]:
#calcuting the no of clicks for Interact
#Total_clicks_ver5=services.clicks.sum()
noclicks_services_ver5= 2064 - clicks_services_ver5
noclicks_requset_ver5=2064- clicks_request_ver4
noclicks_find_ver5=2064- clicks_find_ver5
noclicks_services_ver5,noclicks_requset_ver5,noclicks_find_ver5

(2019, 1992, 1667)

In [ ]:
ctr_ver5=clicks_services_ver5/ 2064 # total visits from .csv
per_services_click=ctr_ver5*100
ctr_ver5,per_services_click

(0.02180232558139535, 2.1802325581395348)

In [ ]:
# Find max CTR
CTR=[ctr_ver1,ctr_ver2,ctr_ver3,ctr_ver4,ctr_ver5]
max_ctr=max(CTR)
max_ctr

0.02180232558139535

In [ ]:
#calculating Homepage-return rate for the category pages version 5 Metric 3
Homepage_return_rate_ver5=936/ 1348
Homepage_return_rate_ver5

0.6943620178041543

In [ ]:
# 30% of version1 clicks
exp_clicks_ver5=round(0.3*2064,0)
exp_clicks_ver5

619.0

### **Version 5(services) has max CTR**

### **CHI square Test**

In [ ]:
# Observed results
Click = [clicks_interact_ver1,clicks_connect_ver2,clicks_learn_ver3,clicks_help_ver4,clicks_services_ver5]
No_click = [noclicks_interact_ver1,noclicks_connect_ver2,noclicks_learn_ver3,noclicks_help_ver4,noclicks_services_ver5]

# Display the data in the form of a contingency table
observed = pd.DataFrame([Click, No_click],
                         columns = ["Interact", "Connect", "Learn","Help","Services"],
                          index = ["Click", "No-click"])
observed

          Interact  Connect  Learn  Help  Services
Click           42       53     21    38        45
No-click     10241     2689   2726  3142      2019

Null Hypothesis: The 5 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.

Alternative Hypothesis: The observed differences are not due to chance: there is at least one version that got so many more/much less clicks than the others that this can hardly be explained just by chance (i.e. they have a better/worse CTR, a better/worse performance).

In [ ]:
alpha=0.1 # level of significance

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
chisq, pvalue, df, expected = chi2_contingency(observed)
chisq

96.7432353798328

In [ ]:
pvalue#, df, expected

4.852334301093838e-20

In [ ]:
if pvalue > alpha:
  print("The p-value is larger than alpha.")
else:
  print("The p-value is smaller than alpha.")

The p-value is smaller than alpha.

Since the p-value is lesser than alpha, we reject the Null Hypothesis.

In [ ]:
# Observed results without INTERACT
Click = [clicks_connect_ver2,clicks_learn_ver3,clicks_help_ver4,clicks_services_ver5]
No_click = [noclicks_connect_ver2,noclicks_learn_ver3,noclicks_help_ver4,noclicks_services_ver5]

# Display the data in the form of a contingency table
observed1 = pd.DataFrame([Click, No_click],
                         columns = ["Connect", "Learn","Help","Services"],
                          index = ["Click", "No-click"])
observed1

          Connect  Learn  Help  Services
Click          53     21    38        45
No-click     2689   2726  3142      2019

In [ ]:
chisq, pvalue, df, expected = chi2_contingency(observed1)
chisq,pvalue #lesser P_value than alpha still reject Null hypothesis

(22.450979530401828, 5.25509870228566e-05)

In [ ]:
# Observed results without Learn
Click = [clicks_interact_ver1,clicks_connect_ver2,clicks_help_ver4,clicks_services_ver5]
No_click = [noclicks_interact_ver1,noclicks_connect_ver2,noclicks_help_ver4,noclicks_services_ver5]

# Display the data in the form of a contingency table
observed2 = pd.DataFrame([Click, No_click],
                         columns = ["Interact","Connect","Help","Services"],
                          index = ["Click", "No-click"])
observed2

          Interact  Connect  Help  Services
Click           42       53    38        45
No-click     10241     2689  3142      2019

In [ ]:
chisq, pvalue, df, expected = chi2_contingency(observed2)
chisq,pvalue # value  < 1 reject Null hypothesis

(92.95565863559828, 5.0770574600506383e-20)

In [ ]:
# Observed results without Learn and Interact
Click = [clicks_connect_ver2,clicks_help_ver4,clicks_services_ver5]
No_click = [noclicks_connect_ver2,noclicks_help_ver4,noclicks_services_ver5]

# Display the data in the form of a contingency table
observed3 = pd.DataFrame([Click, No_click],
                         columns = ["Connect","Help","Services"],
                          index = ["Click", "No-click"])
observed3

          Connect  Help  Services
Click          53    38        45
No-click     2689  3142      2019

In [ ]:
chisq, pvalue, df, expected = chi2_contingency(observed3)
chisq,pvalue # value < alpha reject Null hypothesis

(8.57683071094785, 0.013726659948517513)

In [ ]:
# Observed results without Learn and Help,Interact
Click = [clicks_connect_ver2,clicks_services_ver5]
No_click = [noclicks_connect_ver2,noclicks_services_ver5]

# Display the data in the form of a contingency table
observed4 = pd.DataFrame([Click, No_click],
                         columns = ["Connect","Services"],
                          index = ["Click", "No-click"])
observed4

          Connect  Services
Click          53        45
No-click     2689      2019

In [ ]:
chisq, pvalue, df, expected = chi2_contingency(observed4)
chisq,pvalue # pvalue is greater than alpha accept the null hypothesis

(0.24744894078894586, 0.6188771123975272)

In [ ]:
if pvalue > alpha:
  print("The p-value is larger than alpha.")
else:
  print("The p-value is smaller than alpha.")

The p-value is larger than alpha.

Accept the Null Hypothesis.There is no significant differnce between Connect and Services.

In [ ]:
# Comparing the expected and actual clicks
Exp_clicks = [exp_clicks_ver1,exp_clicks_ver2,exp_clicks_ver3,exp_clicks_ver4,exp_clicks_ver5]
Act_clicks = [clicks_interact_ver1,clicks_connect_ver2,clicks_learn_ver3,clicks_help_ver4,clicks_services_ver5]
Per_clicks=[per_interact_click,per_connect_click,per_learn_click,per_help_click,per_services_click]
Ctr_rate=[ctr_ver1,ctr_ver2,ctr_ver3,ctr_ver4,ctr_ver5]
# Display the data in the form of a contingency table
expected_actual= pd.DataFrame([Act_clicks, Exp_clicks,Per_clicks,Ctr_rate],
                         columns = ["Interact", "Connect", "Learn","Help","Services"],
                          index = ["Act_clicks", "Exp_clicks","Per_clicks","Ctr_rate"])
expected_actual

               Interact     Connect       Learn        Help    Services
Act_clicks    42.000000   53.000000   21.000000   38.000000   45.000000
Exp_clicks  3247.000000  823.000000  824.000000  954.000000  619.000000
Per_clicks     0.408441    1.932896    0.764470    1.194969    2.180233
Ctr_rate       0.004084    0.019329    0.007645    0.011950    0.021802

In [ ]:
expected_actual.loc["Ctr_rate"].sort_values(ascending=False)

Services    0.021802
Connect     0.019329
Help        0.011950
Learn       0.007645
Interact    0.004084
Name: Ctr_rate, dtype: float64

None of the buttons satisfied the 30% is evident from the above table.
But percentage clicks of each button shows Services(highest 2.18%),followed by connect(1.93%)

 The drop off rate for Interact,Connect,Learn,Services is 10,6.2,3.1,0 respectively and the home page return rate Interact,Connect,Learn,Services is 21,8,7,0 respectively.Gives a clear vision that Services outperforms the other categories.
Reasons to conclude as **Services** are:
1.High percentage of Clicks -2.18%
2.High CTR_rate-0.021
3.Low Home page return -0
But the drop off rate (0) insist us that services is not best . May be the users are expecting a different  information under this category.

The next possible category is naturally **Connect**
1.High percentage of Clicks -1.93%(lesser than original 2%)
2.High CTR_rate-0.019
3.High drop off rate-6.2
 Home page return -8(4.24 clicks)
 subtract from original (53-4)49 clicks .Still greater than services

Winner- Connect
Runner-services

# P.S:Still need analyis to get the real picture